*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#map {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fade-out,
.fade-in {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.fade-in.show {
    opacity: 1;
}

#slider {
    margin: auto;
    bottom: 50px;
    z-index: 1000;
    width: 75%;
    border: none;
    height: 10px;

}

#slider .noUi-connect {
    background-color: #0b8df1;
}

#slider .noUi-tooltip {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: x-large;
    background: none;
    border: none;
    color: rgb(68, 68, 68);
}

#slider .noUi-handle {
    height: 30px;
    width: 30px;
    top: -10.5px;
    right: -22.5px;
    border-radius: 25px;
    background: #e0e0e0;
}

.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}